<div id="fb-description">
    <div class="fb-logo">سیستم بازخورد</div>
    <div class="fb-text">
        سیستم بازخورد به شما این اجازه را میدهد که انتقادات و پیشنهادهایتان را با ما در میان بگذارید
    </div>
    <div class="fb-text">موضوع:</div>
    <select>
        <option>انتقاد</option>
    </select>
    <div class="fb-text">توضیحات:</div>
    <textarea id="fb-note" >d</textarea>
    <div id="fb-description-error">لطفا توضیحات را وارد نمایید</div>
    <div class="fb-text">در مرحله بعدی شما می توانید توضیحات خود را با ابزار ارائه شده مشخص نمایید</div>
    <button id="fb-description-next" class="fb-next-btn fb-btn-blue">مرحله بعد</button>
    <div class="fb-close"></div>
</div>