<div id="fb-highlighter">
    <div class="fb-logo">سیستم بازخورد</div>
    <div class="fb-text m-bottom-20">
        لطفا بر روی ابزار های پائین کلیک نمایید و سپس بر روی صفحه بگیرید و بکشید.
    </div><button class="fb-sethighlight fb-active">
        <div class="ico"></div>
        <span>مشخص سازی</span>
    </button>
    <label>مکان های مورد نظر خود را با این ابزار مشخص نمایید</label>
    <button class="fb-setblackout">
        <div class="ico">
        </div><span>مخفی سازی</span>
    </button>
    <label class="lower">اطلاعات شخصی خود را با این ابزار مخفی نمایید</label>
    <div class="fb-buttons">
        <button id="fb-highlighter-next" class="fb-next-btn fb-btn-blue">مرحله بعد</button>
        <button id="fb-highlighter-back" class="fb-back-btn fb-btn-gray">مرحله قبلی</button>
    </div><div class="fb-close"></div>
</div>