<div id="fb-overview">
    <div class="fb-module-close"></div>
    <div class="fb-logo">سیستم بازخورد</div>
    <div id="fb-overview-description">
        <div id="fb-overview-description-text">
            <h3 class="fb-title">توضیحات</h3>
            <textarea id="fb-overview-note"></textarea>

            <h3 class="fb-additional fb-title">اطلاعات بیشتر</h3>
            <div id="fb-browser-info">
                <div class="according">اطلاعات مرورگر</div>
                <div class="hide" id="fb-browser-infodetail"></div>
            </div>
            <div id="fb-page-info">
                <div class="according">اطلاعات صفحه</div>
                <div class="hide text-left" id="fb-page-infodetail"></div>

            </div>
            <div id="fb-page-structure">
                <div class="according">ساختار صفحه</div>
                <div class="hide text-left" id="fb-html-infodetail">
                </div>
            </div>
        </div>
    </div>
    <div id="fb-overview-screenshot">
        <h3 class="fb-title">تصویر صفحه</h3>
        <div id="loading-screenshot">
            <div id="loading-screenshot_1" class="loading-screenshot">
            </div>
        </div>
        <div id="fb-screenshot" class=" fb-screenshot">
        </div>
    </div>
    <div class="fb-buttons">
        <button id="fb-submit" class="fb-submit-btn fb-btn-blue">ارسال بازخورد</button>
        <button id="fb-overview-back" class="fb-back-btn fb-btn-gray">مرحله قبلی</button>
    </div>
</div>
