<div class="text-right">نام کد برنامه :  <div id="browserInfo-appCodeName"></div></div>
<div class="text-right">نام برنامه :  <div id="browserInfo-appName"></div>    </div>
<div class="text-right">ورژن مرورگر : <div id="browserInfo-appVersion"></div>   </div>
<div class="text-right">کوکی :  <div id="browserInfo-cookieEnabled"></div>   </div>
<div class="text-right">وضعیت شبکه : <div id="browserInfo-onLine"></div>    </div>
<div class="text-right">پلتفرم : <div id="browserInfo-platform"></div>   </div>
<div class="text-right">سیستم عامل کاربر : <div id="browserInfo-userAgent"></div>    </div>